<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="layout">
<head>
<title>Users : View all</title>
</head>
<body>
	<h1 layout:fragment="header">Users : View all</h1>
	<div layout:fragment="content" class="container">
		<div class="pull-right">
			<a href="form.vm" th:href="@{/users/(form)}">Create Users</a>
		</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<td>ID</td>
					<td>Name</td>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${users.empty}">
					<td colspan="2">No User</td>
				</tr>
				<tr th:each="user : ${users}">
					<td th:text="${user.id}"></td>
					<td>
						<a href="view.vm" th:href="@{'/users/' + ${user.id}}"
                           th:text="${user.name}"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
